body, html {
  height: 100%;
  margin: 0;
}
.bg {
  background-image: url("bear.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.text-block {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: black;
  color: white;
  padding: 5px 10px 5px 10px;
  transform: translate(-50%, -50%);
  text-align: center;
  opacity: 0.95;
}
.text-block2 {
  position: absolute;
  top: 55%;
  left: 50%;
  width: 95%;
  height: 90%;
  background-color: black;
  color: white;
  transform: translate(-50%, -50%);
  text-align: center;
  opacity: 0.95;
}
.topnav {
  overflow: hidden;
  background-color: #333;
}
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:hover {
  background-color: #ddd;
  color: black
}